robotframework==5.0.1
robotframework-faker==5.0.0
robotframework-pythonlibcore==3.0.0
robotframework-requests==0.9.3
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==6.0.0
robotframework-tidy==3.2
selenium==4.4.3
